.IndexGrey:not(:first-child) {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.MastHead {
  background-color: #282c34;
  color: #fff;
  padding: 0 0 0.5rem;
}

.HomeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 450px;
  margin: 0 auto;
  max-width: 800px;
}

.HomeHeading {
  color: #61dafb;
  font-weight: 700;
  font-size: 3.2rem;
  margin: 2rem 0;
}

.HomeSubheading {
  line-height: 2;
  font-size: 1.6rem;
}

@media (max-width: 575.98px) {
  .ButtonToolbar {
    margin: -1rem;
    text-align: center;
  }

  .ButtonToolbar a {
    width: calc(100% - 2rem);
    max-width: 300px;
    margin: 1rem;
  }
}
